<ion-view id="page8" title='<center>DETALLE DEL SERVICIO</center>' ng-init="initDetalleSolicitud()" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="false">
  <ion-nav-bar class="bar-positive">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-chevron-left" menu-toggle="left"  ng-click="myGoBack()"></a>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <!--<a ui-sref="menu.notificaciones" class="button button-icon button-clear ion-android-globe"></a>-->
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">

   <ion-refresher
    pulling-text="Desliza para actualizar..."
    on-refresh="refreshSolicitudes()">
  </ion-refresher>

    <div class="row">
    <div class="col col-5"></div>
    <div class="col col-90">


      <h3 style="color:#2B5BA7">SOLICITUD NRO: {{dataSolicitud.idSolicitud}}</h3>
      <h5>Solicitud de tipo: {{dataSolicitud.servicio}}</h5>
      <h6>Fecha de solicitud: {{dataSolicitud.fechaSolicitud}}</h6>
      <h6>Solicitado para el día: {{dataSolicitud.fechaFavor}}</h6>
      <p style="text-align: justify;">
        {{dataSolicitud.texto}} 
      </p>

      <h6 style="color:#2B5BA7">DATOS DEL PRESTADOR DEL SERVICIO</h6>
      <div class="list">
          <a class="item item-avatar" href="#">
            <img src="img/mike.png">
            <h2>Farez Prieto</h2>
            <p>kyo20052@gmail.com</p>
          </a>
      </div>
      <div class="list" ng-if="dataSolicitud.costo !=0">
      <h6 style="color:#2B5BA7">COSTO DEL SERVICIO</h6>
      <h1 style="color:#2B5BA7">{{dataSolicitud.costo |currency:$:0}}</h1>
      </div>

      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.sERVICIOS" id="login-button1" class="button button-positive  button-block">APROBAR SERVICIO</a>
      <a ui-sref="menu.inicio" id="login-button2" class="button button-positive  button-block button-clear">RECHAZAR SERVICIO</a>

    </div>
    <div class="col col-5"></div>
  </div>
  </ion-content>
</ion-view>