<ion-view title='<center><img class="title-image" src="img/logoMini.png" style="width:40%;margin:4% 0 0 0"/></center>' id="favor"  hide-nav-bar="false">
  <ion-content padding="true" class="has-header">

    <div class="row">
    <div class="col col-5"></div>
    <div class="col col-90">


      <h3 style="color:#2B5BA7">SOLICITAR FAVOR</h3>
      <h5>Nro 1 - Tipo de solicitud</h5>
      <h6>24 de octubre de 2016</h6>
      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.  
      </p>

      <h6 style="color:#2B5BA7">DATOS DEL PRESTADOR DEL SERVICIO</h6>
      <div class="list">
          <a class="item item-avatar" href="#">
            <img src="img/mike.png">
            <h2>Farez Prieto</h2>
            <p>kyo20052@gmail.com</p>
          </a>
      </div>
      <h6 style="color:#2B5BA7">COSTO DEL SERVICIO</h6>
      <h1 style="color:#2B5BA7">$50.000</h1>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.sERVICIOS" id="login-button1" class="button button-positive  button-block">APROBAR SERVICIO</a>
      <a ui-sref="menu.inicio" id="login-button2" class="button button-positive  button-block button-clear">RECHAZAR SERVICIO</a>

    </div>
    <div class="col col-5"></div>
  </div>
  </ion-content>
</ion-view>