<ion-view id="page8" title='<center>NUEVA SOLICITUD</center>' left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="false" ng-init="initSolicitudN()">
  <ion-nav-bar class="bar-positive">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-chevron-left" menu-toggle="left"  ng-click="myGoBack()"></a>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <!--<a ui-sref="menu.notificaciones" class="button button-icon button-clear ion-android-globe"></a>-->
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">

    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-90">

      <form id="formRegistro" class="list">
        <h3 style="color:#2B5BA7;text-align: center">SOLICITAR FAVOR</h3>
        <ion-list id="login-list2">
          <p><center>Seleccione el tipo de favor que desea solicitar.</center></p>
          <label class="item item-input" id="login-input1">
            <select style="width: 100%;background: transparent;height:25px;border:none;box-shadow: none">
              <option value="">Tipo de favor</option>
              <option ng-repeat="servi in listaServicios" value="{{servi.id}}" style="text-transform: uppercase">{{servi.titulo}}</option>
            </select>
          </label>

          <div class="form1" style="float:left;width:100%;margin:5% 0 0 0">
              <label class="item item-input  item-stacked-label" style="border:none;background: #fff;margin:0 0 5% 0">
                <span class="input-label">Fecha y hora</span>
                <input type="date" />
              </label>
              <label class="item item-input  item-stacked-label" style="border:none;background: #fff;margin:0 0 5% 0">
                <span class="input-label">Especifique los detalles del favor</span>
                <textarea placeholder="Escriba una breve descripción" rows="5"></textarea>
              </label>
          </div>

          <!--
          <div class="form1" style="float:left;width:100%;display:none"></div>
          <div class="form1" style="float:left;width:100%;display:none"></div>

          <label class="item item-input" id="login-input2">
            <input type="date" value='{{example | date: "yyyy-MM-dd"}}' />
          </label>
          <label class="item item-input" id="login-input2">
            <input type="text" placeholder="Lugar" />
          </label>
          <label class="item item-input" id="login-input2">
            <textarea placeholder="Escriba una breve descripción" rows="5"></textarea>
          </label>
          <ion-checkbox ng-model="filter.red">Acepto los términos</ion-checkbox>-->

        </ion-list>
        <div class="spacer" style="height: 40px;"></div>
        <a ui-sref="menu.sERVICIOS" id="login-button1" class="button button-positive  button-block">SOLICITAR FAVOR</a>
        <a ui-sref="menu.inicio" id="login-button2" class="button button-positive  button-block button-clear">CANCELAR</a>
      </form>
      </div>
      <div class="col col-5"></div>
  </div>

  </ion-content>

</ion-view>








